<div class="bg-gradient-to-b from-black to-gray-900 h-fit md:h-screen">
  <div
    class="second-grid content-center grid p-8 grid-cols-2 gap-5 md:p-14 md:gap-x-12 md:grid-cols-5"
    id="cuisine"
  >
    <!-- section Maharashtra -->
    <a
      routerLink="/repMah"
      class="border-transparent p-0 text-center overflow-hidden rounded-lg text-xl md:text-3xl hover:scale-105 hover:duration-300"
    >
      <img src="../../../assets/images/first.jpg" alt="b fast" />
      <div
        class="grid-item2 pt-1 pb-1 block rounded-b-lg text-center md:font-bold bg-gray-800 text-white"
      >
        Maharashtra
      </div>
    </a>
    <!-- section Japan -->
    <a
      routerLink="/repJap"
      class="border-transparent p-0 text-center overflow-hidden rounded-lg text-xl md:text-3xl hover:scale-105 hover:duration-300"
    >
      <img src="../../../assets/images/second.jpg" alt="b fast" />
      <div
        class="block grid-item2 pt-1 pb-1 rounded-b-lg text-center md:font-bold bg-gray-800 text-white"
      >
        Japan
      </div>
    </a>

    <!-- section punjab -->
    <a
      routerLink="/repPjb"
      class="border-transparent p-0  text-xl md:text-3xl text-center overflow-hidden rounded-lg hover:scale-105 hover:duration-300"
    >
      <img src="../../../assets/images/third.jpg" alt="b fast" />
      <div
        class="block grid-item2 pt-1 pb-1 rounded-b-lg text-center md:font-bold bg-gray-800 text-white"
      >
        Panjab
      </div>
    </a>
    <!-- section Italy -->
    <a
      routerLink="/repIta"
      class="border-transparent p-0  text-xl md:text-3xl text-center overflow-hidden rounded-lg hover:scale-105 hover:duration-300"
    >
      <img src="../../../assets/images/fourth.jpg" alt="b fast" />
      <div
        class="block grid-item2 pt-1 pb-1 rounded-b-lg text-center md:font-bold bg-gray-800 text-white"
      >
        Italy
      </div>
    </a>
    <!-- section Mexico -->
    <a
      routerLink="/repMex"
      class="border-transparent p-0  text-xl md:text-3xl text-center overflow-hidden rounded-lg hover:scale-105 hover:duration-300"
    >
      <img src="../../../assets/images/fivth.jpg" alt="b fast" />
      <div
        class="block grid-item2 pt-1 pb-1 rounded-b-lg text-center md:font-bold bg-gray-800 text-white"
      >
        Mexico
      </div>
    </a>
  </div>
</div>
